/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resorces/fontawesome-pro
/resorces/mdb-pro
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/analytics/service_account_credentials_json.json
/public/js
/public/css
/analytics/service_account_credentials_json