.dropdown.bootstrap-select.show-tick {
    display: block;
    width: 100%;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bg-blue {
    background-color: $blue;
}
.bg-indigo {
    background-color: $indigo;
}
.bg-purple {
    background-color: $purple;
}
.bg-pink {
    background-color: $pink;
}
.bg-red {
    background-color: $red;
}
.bg-orange {
    background-color: $orange;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-green {
    background-color: $green;
}
.bg-teal {
    background-color: $teal;
}
.bg-cyan {
    background-color: $cyan;
}

.blue {
    color: $blue;
}
.indigo {
    color: $indigo;
}
.purple {
    color: $purple;
}
.pink {
    color: $pink;
}
.red {
    color: $red;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}
.green {
    color: $green;
}
.teal {
    color: $teal;
}
.cyan {
    color: $cyan;
}

.w-2 {
    width: 2%;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-80 {
    width: 80%;
}

#mainNav {
    position: absolute;
    background-color: rgb(52, 144, 220);
}

#mainNav .navbar-brand {
    color: #fff;
}

#mainNav .navbar-toggler {
    padding: 4px;
    color: #fff;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent;
    }
    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff;
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus,
    #mainNav .navbar-nav > li.nav-item > a:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}

@media only screen and (min-width: 992px) {
    #mainNav {
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }
    #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        transition: transform 0.2s;
        background-color: rgba(52, 144, 220, 0.8);
    }
    #mainNav.is-fixed .navbar-brand {
        color: #fff;
    }
    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: $light-blue;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #fff;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus,
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: $light-blue;
    }
    #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
    }
}

header.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.7;
}
header.masthead .site-heading {
    padding-top: 80px;
    color: white;
    height: 200px;
}

@media only screen and (max-width: 768px) {
    .post-heading .cover-img {
        padding-top: 100px;
    }
}

@media only screen and (min-width: 768px) {
    header.masthead .site-heading {
        padding: 80px 0 40px;
    }
}

header.masthead .post-heading {
    padding: 10px 0 20px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading {
        padding: 80px 0 20px;
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    display: block;
    margin: 10px 0 0;
}

header.masthead .post-heading h1 {
    display: inline;
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    font-size: 1em;
    display: block;
}

header.masthead .post-heading .subheading {
    margin: 10px 0 30px;
}
header.masthead .post-heading .meta a {
    color: #fff;
}



.cursor-pointer {
    cursor: pointer;
}
.cursor-crosshair {
    cursor: crosshair;
}
.cursor-eresize {
    cursor: e-resize;
}
.cursor-move {
    cursor: move;
}
.resolution {
    display: inline;
}
.releaseres {
    background-color: #6380ff;
    font-size: 0.75rem;
    color: white;
}

div.rilisan {
    text-align: center;
    border-collapse: collapse;
}

.rilisan .isi,
.head {
    padding: 0.75rem;
}

.rilisan .badan .baris:first-child {
    border-top: 1px solid $blue;
}

.rilisan .kepala {
    border-top: 1px solid $blue;
}

.rilisan .kepala:last-child {
    border-bottom: 1px solid $blue;
}

.rilisan .kepala .head {
    color: $blue;
    text-align: left;
}
.rilisan .head:hover {
    background: #dbe2ff;
}

.rilisan .kepala .head:first-child {
    border-left: none;
}

.image-holder {
    display: inline;
}
.thumb-image {
    height: 150px;
    widows: auto;
}

.pagination {
    justify-content: center;
}